
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  
}

.header-left {
  display: flex;
}

.header-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-tab {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}



.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #2C0000;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 5px;
  width: 250px;
}


.search-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

/* .search-button:hover {
  color: #1db954;
} */


@media (max-width: 768px){
  
  .header {
    display: none;

  }
  
}